<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BlobMaths - Addition content</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
    <!-- Add script in src
    <script src=""></script>
    -->
    <style>
        #VideoBox {
          width: 75%;
          height: auto;
          padding: 10px;
          border: 0 solid #000000;
          margin:auto;
          margin-left: 100px;
          align-items: center;
          justify-content: center;
        }
    </style>
</head>
<body style="background-image: url('/Background.jpg'); background-attachment: fixed; background-size: cover;">
<!--Navigation bar-->
<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="/BlobMaths.png" style="height:50px; width:200px">
        <!--<a class="navbar-brand" href="">Menu</a>-->
        <div class="container-sm" style="text-align:left">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><h1>Menu</h1></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="/"><h3>Logout</h3></a>
            </li>
            <li class="nav-item dropdown">
              <span class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h3>Content</h3>
              </span>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/additionContent">Addition</a></li>
                <li><a class="dropdown-item" href="/additionContent">Substraction</a></li>
                <li><a class="dropdown-item" href="/additionContent">Multiplication</a></li>
                <li><a class="dropdown-item" href="/additionContent">Division</a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <h3>Quizzes</h3>
                </span>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/addition">Addition</a></li>
                  <li><a class="dropdown-item" href="/addition">Substraction</a></li>
                  <li><a class="dropdown-item" href="/addition">Multiplication</a></li>
                  <li><a class="dropdown-item" href="/addition">Division</a></li>
                  <li><hr class="dropdown-divider"></li>
                </ul>
              </li>
            </ul>
        </div>
        </div>
    </div>
</nav>
<br><br><br>
<!--Content addition-->
<!--Height is determined by the height in the embedded video, works well on 720px, however the screen resolution of the user might affect it-->
<div id="VideoBox">
    <iframe width="100%" height="720px" src="https://www.youtube.com/embed/8cMywGtieBY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<!--Footer-->
    <div class="row container-fluid fixed-bottom">
        <h3 style="text-align:left">Contact us at blobmaths@gmail.com</h3>
    </div>
</body>
</html>