<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>BlobMaths</title>
      {% endif %}
    </head>
    <body>
        {% extends "bootstrap/base.html" %}
        {% block content %}
        <table>
            <th><a href="/"><h1>Home </h1></a></th>
            <th><h1>|</h1></th>
            <th><a href="/profile"><h1>Profile </h1></a></th>
        </table>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="" method="post">
            {{form.hidden_tag()}}
            <p>
                {{form.questions}}
            </p>
            <p>
                {{form.answer()}}
            </p>
            <input type="submit">
        </form>
        {% endblock %}
    </body>
</html>