<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} - BlobMaths</title>
</head>
<body>
{% extends "bootstrap/base.html" %}
{% block content %}
<h1> Login to BlobMaths</h1>
<form action="" method="post" novalidate>
    <!-- Prevents CSRF attack - See SECRET_KEY in config.py -->
    {{form.hidden_tag()}}
    <p>
        {{ form.username.label }}<br>
        {{form.username(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>

{% endblock %}
</body>
</html>