<!doctype html>
<html>
    <head>
      <title>BlobMaths - Profile</title>
      <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>
        <script src="functions.js"></script>
        <link rel="stylesheet" href="profile.css">
    </head>
    <body style="background-color:darkgray">
        {% block content %}

    <!--Navigation bar-->
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <img src="/BlobMaths.png" style="height:50px; width:200px">
            <!--<a class="navbar-brand" href="">Menu</a>-->
            <div class="container-sm" style="text-align:left">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><h1>Menu</h1></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" href="/"><h3>Logout</h3></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/profile"><h3>Profile</h3></a>
                  </li>
                <li class="nav-item dropdown">
                  <span class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <h3>Content</h3>
                  </span>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Addition</a></li>
                    <li><a class="dropdown-item" href="#">Substraction</a></li>
                    <li><a class="dropdown-item" href="#">Multiplication</a></li>
                    <li><a class="dropdown-item" href="#">Division</a></li>
                    <li><hr class="dropdown-divider"></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <h3>Quizzes</h3>
                    </span>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/addition">Addition</a></li>
                      <li><a class="dropdown-item" href="#">Substraction</a></li>
                      <li><a class="dropdown-item" href="#">Multiplication</a></li>
                      <li><a class="dropdown-item" href="#">Division</a></li>
                      <li><hr class="dropdown-divider"></li>
                    </ul>
                  </li>
                </ul>
            </div>
            </div>
        </div>
    </nav>

    <br><br><br><br><br>


        <div class="container-fluid" >
            <div class="row">
    <!--Left side of page-->
                <div class="col-3">
                    <label for="validationTextarea" class="form-label">Placeholder</label>
                    <input class="form-control" id="validationTextarea" placeholder="Placeholder for other stuff" style="height: 100% ; width: 80%;"></input>
                </div>
    <!--Center side of page-->
                <div class="col-6 no-border shadow-none" style="text-align:left">
                    <h1 style="text-align:left"><strong> Change your profile</strong></h1>
                    <form class="form-control" style="background-color: transparent; height:fit-content" name="profileFormName" id="profileFormID" method="post" novalidate>
                <!-- Prevents CSRF attack - See SECRET_KEY in config.py -->
                    {{form.hidden_tag()}}
                <!--Nickname form-->
                    <h3><strong>Change your nickname!</strong></h3>
                    <input class="form-control no-border" type="text" name="nickname"  placeholder="Nickname" style="width:30%">
                <!--Old photo form-->
                    <br>
                    <br>
                    <h3><strong>Choose your icon!</strong></h3>
                    <!--<div class="form-group" name="photo" id="photoID">-->
                    <input class="form-check-input" type="radio" name="Monkey" value="monkey" for="monkeyLabel" >
                    <img class="form-check-label" id="monkeyLabel" src="/Monkey.png" style="height: 75px; width: 75px;">
                    <input class="form-check-input" type="radio" name="Bear" value="bear" for="bearLabel" >
                    <img class="form-check-label" id="bearLabel" src="/Bear.png" style="height: 75px; width: 75px;">
                    <input class="form-check-input" type="radio" name="Cat" value="cat" for="catLabel">
                    <img class="form-check-label" id="catLabel" src="/Cat.png" style="height: 75px; width: 75px;">
                    <input class="form-check-input" type="radio" name="Fox" value="fox" for="foxLabel">
                    <img class="form-check-label" id="foxLabel" src="/Fox.png" style="height: 75px; width: 75px;">
                    <br>
                    <br>
                <!--Flask form
                    <h3>Choose your icon!</h3>
                    {% for subfield in form.photo %}
                    {{ subfield }}
                        <img src={{ subfield.data }} style="height:75px; width:75px">
                    {% endfor %}
                -->
                    <button style="width:fit-content" class="btn btn-lg btn-primary btn-block" type="submit">Confirm changes</button>

                    <br>
                    <br>

                    <!-- Adam's type of image buttons-->
                    <!--<input type="image" src="/Monkey.png" style="height: 75px; width: 75px;">--> 
                    
                    <!--<p>
                        {{ form.submit() }}
                    </p>-->

                    </form>
                </div>
    <!--Right side of page-->
                <div class="col-3" style="text-align:center">
                        <label for="validationTextarea" class="form-label"><h1>Chat</h1></label>
                        <input class="form-control" type="text" id="validationTextarea" placeholder="Placeholder for chat box" style="height:100%"></input>
                    <div class="invalid-feedback">
                        Please enter a message in the textarea.
                    </div>
                </div>
            </div>
        </div>
    <!--Footer-->    
        <!--
        <div class="row container-fluid">
            <div class="jumbotron jumbotron-fluid fixed-bottom">
                <h3>This is another placeholder just in case we need one</h3>
            </div>
        </div>
        -->
        <div class="row container-fluid fixed-bottom">
            <h3 style="text-align:left">Contact us at blobmaths@gmail.com</h3>
        </div>
        <div id="changeConfirmation">Changes saved!</div>
        {% endblock %}
    </body>
</html>